/*Start Variables*/
:root {
  --primary-color: #4b4b4b;
  --secondary-color: #5bc3cd;
  --third-color: #e2f4c5;
  --forth-color: #496989;
  --fifth-color: #ffffff51;
  scroll-behavior: smooth;
}
/*End Variables*/
/*Start Global Rules*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
body {
  font-family: "DS Serif", sans-serif;
}
html {
  height: 100%;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.special-heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.special-heading label {
  font-size: 64px;
  text-align: center;
  color: var(--primary-color);
  font-weight: 900;
  padding-top: 15px;
  position: relative;
}
.special-heading span {
  font-size: 16px;
  text-align: center;
  letter-spacing: 10px;
  color: var(--secondary-color);
  font-weight: 500px;
  position: relative;
  text-align: center;
  padding-left: 5px;
  top: -12px;
}
/*End Global Rules*/
/*Start header*/
.header {
  height: 720px;
  background: rgb(91, 195, 205);
  background: radial-gradient(circle, rgba(91, 195, 205, 1) 0%, rgba(73, 105, 137, 1) 100%);
  z-index: -99;
}

.header nav {
  width: 100%;
  margin: 0;
  padding: 10px 50px 10px 50px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}
.header .title {
  display: inline-flex;
  gap: 10px;
  z-index: 98;
}
.header .container .logo {
  width: 40px;
  height: 40px;
  z-index: 96;
}

.header label {
  padding: 10px 0 0 0;
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  color: var(--primary-color);
  z-index: 97;
}

.header .title a {
  background-color: rgba(0, 0, 0, 0);
  width: 260px;
  height: 50px;
  height: 50px;
  position: fixed;
  z-index: 99;
}
.links {
  float: right;
  list-style: none;
  margin: 0;
  padding: 15px 0 0 0;
}
.header .dropdown {
  top: 47px;
  right: 195px;
  padding: 0;
  margin: 0;
  line-height: 0;
  list-style: none;
  position: absolute;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  width: 150px;
  height: 0px;
  text-align: center;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.header .dropdown li {
  text-align: center;
  z-index: 1;
}

.header .links li {
  display: inline-block;
  margin: 0 20px;
  padding: 0;
}

.header .links li:hover .dropdown {
  display: grid;
  height: 180px;
  opacity: 1;
  padding: 30px 0 0 0;
  &.dropdown a {
    display: block;
  }
}

.header .links li a {
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.2s ease-in-out;
}
.header .dropdown li a {
  margin: 0;
  line-height: 50px;
  font-size: 20px;
  text-decoration: none;
  border-bottom: none;
  color: var(--primary-color);
  position: relative;
  display: none;
  transition: 0.2s ease-in-out;
}

.header #active,
.links li a:hover {
  color: var(--secondary-color);
}

.hero {
  height: calc(100% - 75px);
  /* margin-top: 150px; */
  display: flex;
  padding: 0 100px;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.hero img {
  float: right;
  width: 350px;
  filter: brightness(0%) invert(1) drop-shadow(0 4px 30px rgba(0, 0, 0, 0.5));
}

.hero h1 {
  float: left;
  font-size: 2.5em;
  color: white;
  word-wrap: 0;
  /* text-shadow: black 2px 2px 2px; */
  text-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}
.hero span {
  color: white;
  transition: color 0.3s ease-out;
}
.hero span:hover {
  background-image: linear-gradient(65deg, violet, indigo, blue, green, yellow, orange, red);
  background-clip: text;
  color: transparent;
}

/*End header*/

/*Start About*/
.about {
  padding: 10px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  height: 720px;
  z-index: 99;
}
.about .container {
  padding: 15px 50px 15px 50px;
}

/*End About*/

/*Start Explore*/
.explore {
  padding: 10px;
  background: rgb(235, 235, 235);
  height: 720px;
  z-index: 98;
}
.explore .container {
  padding: 15px 25px 15px 25px;
  height: 100%;
}

.cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px 0 0 0;
}

.cards .glass {
  position: relative;
  width: 300px;
  height: 400px;
  background: linear-gradient(#fff2, transparent);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border-radius: 10px;
  margin: 0 -45px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg));
}

.cards:hover .glass {
  transform: rotate(0deg);
  margin: 0 10px;
}
.cards .glass:hover {
  border: 2px solid var(--secondary-color);
  /* transform: scale(1.05); */
}
.cards .glass:active {
  transform: scale(0.9);
}

.cards .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}
.cards .glass svg {
  font-size: 2.5em;
  fill: #000;
}
/*End Explore*/

/*Start Contact*/
.contact {
  padding: 10px;
  background: rgb(255, 255, 255);
  height: 720px;
  z-index: 98;
}
.contact .container {
  padding: 15px 50px 15px 50px;
}

.card {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

/*End Contact*/

/*Start Footer*/
.footer {
  padding: 10px;
  background: var(--primary-color);
  height: 75px;
}
.footer .container {
  padding: 0;
}

/*End footer*/
