/* ! ---------------- ! */
/* ?  Start Variables ? */
/* ! ---------------- ! */
:root {
  /* --primary-color: #4b4b4b; */
  --primary-color: #091833;
  --secondary-color: #0abdc6;
  --third-color: #ea00d9;
  --forth-color: #133e7c;
  --fifth-color: #711c91;
  --sixth-color: #07989f;
  scroll-behavior: smooth;
}
/* ! ---------------- ! */
/*?    End Variables   ?*/
/* ! ---------------- ! */

/* ! ---------------- ! */
/*? Start Global Rules ?*/
/* ! ---------------- ! */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
body {
  font-family: "DS Serif", sans-serif;
  /* font-family: "Lucida Console", Courier, monospace; */
  /* font-family: "Courier New", Courier, monospace; */
  font-weight: 700;
}
html {
  height: 100%;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.special-heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.special-heading label {
  font-size: 4em;
  text-align: center;
  color: var(--primary-color);
  font-weight: 900;
  padding-top: 15px;
  position: relative;
}
.special-heading span {
  font-size: 1em;
  text-align: center;
  letter-spacing: 10px;
  color: var(--secondary-color);
  font-weight: 500px;
  position: relative;
  text-align: center;
  padding-left: 5px;
  top: -12px;
}
hr {
  align-self: center;
  width: 75%;
  color: var(--forth-color);
  margin: 0;
}
/* ! ---------------- ! */
/* ? End Global Rules ? */
/* ! ---------------- ! */

/* ! ---------------- ! */
/* ?   Start Header   ? */
/* ! ---------------- ! */
.header {
  height: 800px;
  /* background-image: radial-gradient(100% 100% at 50% 50%, #97266d 0%, #44337a 100%); */

  background-color: rgba(113, 28, 145, 0.35);

  /* background-image: radial-gradient(100% 100% at 0% 0%, #702459 45%, rgba(255, 0, 0, 0) 100%),
    radial-gradient(100% 100% at 35% 35%, #97266d 51%, rgba(255, 0, 0, 0) 100%),
    radial-gradient(100% 100% at 40% 40%, #b83280 100%, rgba(255, 0, 0, 0) 100%); */
  z-index: -99;
}

.header nav {
  width: 100%;
  margin: 0;
  padding: 10px 50px 10px 50px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}
.header .title {
  display: inline-flex;
  gap: 10px;
  z-index: 98;
}
.header .container .logo {
  width: 40px;
  height: 40px;
  z-index: 96;
}

.header label {
  padding: 10px 0 0 0;
  text-decoration: none;
  font-size: 1.75em;
  font-weight: 900;
  letter-spacing: 5px;
  color: var(--primary-color);
  z-index: 97;
}

.header .title a {
  background-color: rgba(0, 0, 0, 0);
  width: 255px;
  height: 50px;
  height: 50px;
  position: fixed;
  z-index: 99;
}
.links {
  float: right;
  list-style: none;
  margin: 0;
  padding: 15px 0 0 0;
}
.header .dropdown {
  top: 47px;
  right: 195px;
  padding: 0;
  margin: 0;
  line-height: 0;
  list-style: none;
  position: absolute;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  width: 150px;
  height: 0px;
  text-align: center;
  opacity: 0;
  transition: 0.2s ease-in-out;
  z-index: 55;
}

.header .dropdown li {
  text-align: center;
  z-index: 1;
}

.header .links li {
  display: inline-block;
  margin: 0 20px;
  padding: 0;
}

.header .links li:hover .dropdown {
  display: grid;
  height: 180px;
  opacity: 1;
  padding: 30px 0 0 0;
  &.dropdown a {
    display: block;
  }
}

.header .links li a {
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.2s ease-in-out;
}
.header .dropdown li a {
  margin: 0;
  line-height: 50px;
  font-size: 20px;
  text-decoration: none;
  border-bottom: none;
  color: var(--primary-color);
  position: relative;
  display: none;
  transition: 0.2s ease-in-out;
}

.header #active,
.links li a:hover {
  color: var(--secondary-color);
}

.hero {
  height: calc(100% - 75px);
  /* margin-top: 150px; */
  display: flex;
  padding: 0 150px 0 150px;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 55px;
  flex-wrap: nowrap;
  width: 520px;
}

.hero img {
  float: right;
  width: 500px;
  /* filter: hue-rotate(160deg); */
  filter: hue-rotate(50deg);
}

.hero h1 {
  float: left;
  font-size: 3em;
  color: white;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}
.hero span {
  /* background-image: linear-gradient(135deg, var(--fifth-color), var(--third-color)); */
  background-image: linear-gradient(135deg, var(--sixth-color), var(--secondary-color));
  background-size: cover;
  background-clip: text;
  color: transparent;
  text-shadow: none;
}
/* ! ---------------- ! */
/*?      End Header    ?*/
/* ! ---------------- ! */

/* ! ---------------- ! */
/*?     Start About    ?*/
/* ! ---------------- ! */
.about {
  padding: 10px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  height: 800px;
  z-index: 99;
}
.about .container {
  padding: 15px 50px 15px 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
}

.about-content {
  padding: 15px 150px;
  text-align: justify;
  font-size: 1.5em;
}
.first-image {
  background-image: linear-gradient(0deg, var(--fifth-color), transparent), url("../images/college.jpg");
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  /* background-blend-mode: multiply; */
}
.second-image {
  background-image: linear-gradient(0deg, var(--secondary-color), transparent), url("../images/technopia.png");
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  /* background-blend-mode: multiply; */
}

.about-content p {
  width: 250px;
  margin: 0;
}
.about-content span {
  color: var(--secondary-color);
}
.about-content a {
  text-decoration: none;
  color: var(--third-color);
}
.about-content i {
  font-size: 0.75em;
}
.first-paragraph {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.second-paragraph {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

/* ! ---------------- ! */
/*?      End About     ?*/
/* ! ---------------- ! */

/* ! ---------------- ! */
/*?    Start Explore   ?*/
/* ! ---------------- ! */
.explore {
  padding: 10px;
  background-color: rgba(113, 28, 145, 0.35);
  height: 800px;
  z-index: 98;
}
.explore .container {
  padding: 15px 25px 15px 25px;
  height: 100%;
}

.cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px 0 0 0;
}

.cards .glass {
  position: relative;
  width: 300px;
  height: 400px;
  background: linear-gradient(#fff2, transparent);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border-radius: 10px;
  margin: 0 -45px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg));
}

.cards:hover .glass {
  transform: rotate(0deg);
  margin: 0 10px;
}
.cards .glass:hover {
  border: 2px solid var(--secondary-color);
  /* transform: scale(1.05); */
}
.cards .glass:active {
  transform: scale(0.9);
}

.cards .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}
.cards .glass img {
  filter: hue-rotate(50deg);
}
/* ! ---------------- ! */
/*?     End Explore    ?*/
/* ! ---------------- ! */

/* ! ---------------- ! */
/*?    Start Contact   ?*/
/* ! ---------------- ! */
.contact {
  padding: 10px;
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  height: 800px;
  z-index: 98;
}
.contact .container {
  padding: 15px 50px 15px 50px;
}

/* ! ---------------- ! */
/*?     End Contact    ?*/
/* ! ---------------- ! */

/* ! ---------------- ! */
/*?    Start Footer    ?*/
/* ! ---------------- ! */
.footer {
  padding: 10px;
  background: var(--primary-color);
  height: 75px;
}
.footer .container {
  padding: 0;
}

/* ! ---------------- ! */
/*?     End Footer     ?*/
/* ! ---------------- ! */

/* ! ---------------- ! */
/**   PROJECTS PAGE    **/
/* ! ---------------- ! */

.slideshow {
  position: relative;
  z-index: 1;
  height: 100%;
  max-width: 700px;
  margin: 50px auto;

  * {
    outline: none;
  }

  .slider {
    box-shadow: 0 20px 50px -25px rgba(0, 0, 0, 1);
  }

  .slider-track {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  }

  .item {
    height: 100%;
    position: relative;
    z-index: 1;

    img {
      width: 100%;
      transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
      transform: scale(1.2);
    }

    &.slick-active img {
      transform: scale(1);
    }
  }
}
